@{
    ViewBag.Title = "Home Page";
}
@section head {

}

<body>
    <div class="container" id="Main">
        <!--main container for everything but nav bar-->
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-8" id="leftJumbo">
                    <img src="~/Content/welcome.png" width=80% alt="Computer vector designed by Freepik" />
                </div>
                <div class="col-xs-4" id="rightJumbo">
                    <div class="container">
                        <h2 style="text-align:left">Welcome</h2>

                        <p style="font-size:100%; text-align:center">There to track your project's progress every step of the way</p>
           
                    </div>
                </div>
            </div>
            </div>
        </div>
</body>